<!-- CONTANIER MARGIN -->
<div class="container">
    <h1 class="text-center">Tous nos DVD</h1>
    <!-- CONTAINER FLEX -->
    <div class="d-flex justify-content-center">
        <!-- CARD -->
        <div class="card me-2" style="width: 18rem;" *ngFor="let dvd of dvds" [routerLink]="">
            <img src="assets/affiche-film-titanic.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold text-center">{{dvd.name}}</h5>
                <p class="text-center">{{dvd.genre}}</p>
                <p class="text-center">{{dvd.quantity}}</p>
                <p class="text-center">{{dvd.price}}</p>
            </div>
            <div class="card-footer" [ngClass]="dvd.quantity <= 5 ? 'text-secondaire' : 'text-tertiaire'">
                {{dvd.quantity}} en stock
            </div>
        </div>

    </div>
</div>