
<nav class="navbar navbar-dark navbar-expand-md bg-blue text-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin"><img src="assets/Ellipse 1.png" alt="logo" width="70"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="authenticationService.isAuth()">
        <li class="nav-item me-5">
          <a class="nav-link fs-3 active" aria-current="page" routerLink="/admin/"><img src="assets/lecteur-de-dvd.png"
              alt="dvd" width="70"></a>
        </li>
        <!-- <li class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DVDs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/">Parcourir</a></li>
              <li><a class="dropdown-item" routerLink="/admin/dvd/nouveau">Ajouter</a></li>
            </ul>
          </li> -->
        <li class="nav-item me-5">
          <a class="nav-link fs-3" routerLink="/admin/clients"><img src="assets/client.png" alt="" width="70"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="/admin/ventes"><img src="assets/acquisition.png" alt="" width="70"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="paniers"><img src="assets/panier.png" alt="" width="70"></a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ng-template [ngIf]="authenticationService.isAuth()" [ngIfElse]="login">
        <button class="btn" (click)="logout()" data-bs-toggle="dropdown">
          <img src="assets/O9IY340.jpg" class="rounded-circle me-2" alt="" width="70">
        </button>
      </ng-template>
      <ng-template #login>
        <a routerLink="/login">
          <img src="assets/logo_component.png" class="rounded-circle me-2" alt="" width="70">
        </a>
      </ng-template>
    </div>
  </div>
</nav>
