<p>dvd works!</p>
<div class="container d-flex justify-content-center">
    <div class="row border">
        <div class="col-5 border">
            <p class="h5 mb-3">Prix de revente <span class="text-red">{{dvd.price}} €</span></p>
            <img [src]="dvd.filename" class="img-fluid" alt="...">
        </div>
        <div class="col-7 border">
            <h1 class="fw-bold text-center text-green">{{dvd.name}}</h1>
            <p></p>
            <p>De </p>
            <p>Réalisé par lorem</p>
            <p>Avec </p>
        </div>
    </div>
</div>